@import 'colors.css';
@import 'animations/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Cabinet Grotesk Variable';
    src: url('../../public/assets/fonts/cabinet-grotesk-variable.ttf');
  }
  @font-face {
    font-family: 'Consolas';
    src: url('../../public/assets/fonts/consolas.ttf');
  }
  @font-face {
    font-family: 'Consolas';
    src: url('../../public/assets/fonts/consolas-bold.ttf');
    font-weight: 700;
  }
  @font-face {
    font-family: 'Consolas';
    src: url('../../public/assets/fonts/consolas-italic.ttf');
    font-style: italic;
  }
  @font-face {
    font-family: 'Consolas';
    src: url('../../public/assets/fonts/consolas-bold-italic.ttf');
    font-weight: 700;
    font-style: italic;
  }
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .icon-hover {
    @apply transition-colors duration-medium hover:text-black/70;
  }
}

svg,
svg *:focus {
  outline: none !important;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: black;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

html {
  scrollbar-color: black var(--background);
  scrollbar-width: thin;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}